<h1><%= t('views.exchange_sent.page_title') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.exchange.receiver.book_title') %></th>
      <th><%= t('activerecord.attributes.exchange.receiver.book_author') %></th>
      <th><%= t('activerecord.attributes.exchange.sender.book_title') %></th>
      <th><%= t('activerecord.attributes.exchange.sender.book_author') %></th>
      <th><%= t('activerecord.attributes.exchange.status') %></th>
      <th><%= t('activerecord.attributes.exchange.created_at') %></th>
    </tr>
  </thead>

  <tbody>
    <!-- Arrumar isso aqui pra trazer só os do usuário -->
    <% if !@exchanges.nil? %>
    <% @exchanges.each do |exchange| %>
      <tr>
        <td><%= exchange.receiver_book.title %></td>
        <td><%= exchange.receiver_book.author %></td>
        <td><%= exchange.sender_book.title %></td>
        <td><%= exchange.sender_book.author %></td>
        <td><%= exchange.status %></td>
        <td><%= exchange.created_at %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
