<% provide(:title, t('views.preferences.page_title')) %>

<div id="form-box">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading"><%= t('views.preferences.labels.preferences_box_title') %></div>
        <div class="panel-body">
          <%= form_for(:language ,url: 'preferences',method: :patch) do |f| %>

          <%= f.label t('views.preferences.labels.language') %>
          <%= f.select :locale, {'Português' => :pt,'English' => :en} %>

          <br/>
          <%= f.submit t('views.preferences.actions.confirm_button'), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
